body {
  background-color: black;
}

a {
  text-decoration: none;
  color: #fff;
  margin-left: 0.5rem;
}

.title-modal {
  color: #000000;
}

h2 {
  border-bottom: 1px solid #ffff;

}
h1 {
  border-bottom: 1px solid;
}
