header {
    font-size: 0.8rem;
    & a {
      text-decoration: none;
      color: white;
    }
  }
  
  .menu-nav-links a {
    margin: 5px;
  }
  .custom-navbar {
    position: absolute;
    width: 100%;
    z-index: 800;
    top: 0;
  }